<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>1583</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>1582</string>
					<key>Timestamp</key>
					<string>775290157.7435549</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Gameboy Shared/Emulator/Instructions/Instruction.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            let leastSignificantByte = readMemory(cpu.stackPointer)
</string>
				<key>leading</key>
				<string>        /// POP rr
        0xF1: InstructionBuilder(cycles: 3) { cpu, readMemory, writeMemory in
</string>
				<key>trailing</key>
				<string>            cpu.stackPointer += 1
            let mostSignificantByte = readMemory(cpu.stackPointer)
            cpu.stackPointer += 1
</string>
			</dict>
			<key>title</key>
			<string>Check Flag F changed affect anything</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>1209</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>1208</string>
							<key>Timestamp</key>
							<string>775245336.004514</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Gameboy Shared/Emulator/Instructions/Instruction.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>        0xC5: InstructionBuilder(cycles: 4) { cpu, readMemory, writeMemory in
</string>
						<key>leading</key>
						<string>        },
        /// PUSH rr
</string>
						<key>trailing</key>
						<string>            cpu.stackPointer -= 1
            writeMemory(cpu.registerBC.hi, cpu.stackPointer)
            cpu.stackPointer -= 1
</string>
					</dict>
					<key>title</key>
					<string>Check wether stack pointer use ram or memeory</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>1381</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>1380</string>
							<key>Timestamp</key>
							<string>775245336.0055079</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Gameboy Shared/Emulator/Instructions/Instruction.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>        0xD5: InstructionBuilder(cycles: 4) { cpu, readMemory, writeMemory in
</string>
						<key>leading</key>
						<string>        },
        /// PUSH rr
</string>
						<key>trailing</key>
						<string>            cpu.stackPointer -= 1
            writeMemory(cpu.registerDE.hi, cpu.stackPointer)
            cpu.stackPointer -= 1
</string>
					</dict>
					<key>title</key>
					<string>Check wether stack pointer use ram or memeory</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>1500</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>1499</string>
							<key>Timestamp</key>
							<string>775245336.00502</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Gameboy Shared/Emulator/Instructions/Instruction.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>        0xE5: InstructionBuilder(cycles: 4) { cpu, readMemory, writeMemory in
</string>
						<key>leading</key>
						<string>        },
        /// PUSH rr
</string>
						<key>trailing</key>
						<string>            cpu.stackPointer -= 1
            writeMemory(cpu.registerHL.hi, cpu.stackPointer)
            cpu.stackPointer -= 1
</string>
					</dict>
					<key>title</key>
					<string>Check wether stack pointer use ram or memeory</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>1600</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>1599</string>
							<key>Timestamp</key>
							<string>775290157.74354</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Gameboy Shared/Emulator/Instructions/Instruction.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>        0xF5: InstructionBuilder(cycles: 4) { cpu, readMemory, writeMemory in
</string>
						<key>leading</key>
						<string>        },
        /// PUSH rr
</string>
						<key>trailing</key>
						<string>            cpu.stackPointer -= 1
            writeMemory(cpu.registerAF.hi, cpu.stackPointer)
            cpu.stackPointer -= 1
</string>
					</dict>
					<key>title</key>
					<string>Check wether stack pointer use ram or memeory</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>1163</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>1162</string>
							<key>Timestamp</key>
							<string>775245336.00539</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Gameboy Shared/Emulator/Instructions/Instruction.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>            let leastSignificantByte = readMemory(cpu.stackPointer)
</string>
						<key>leading</key>
						<string>        /// POP rr
        0xC1: InstructionBuilder(cycles: 3) { cpu, readMemory, writeMemory in
</string>
						<key>trailing</key>
						<string>            cpu.stackPointer += 1
            let mostSignificantByte = readMemory(cpu.stackPointer)
            cpu.stackPointer += 1
</string>
					</dict>
					<key>title</key>
					<string>Check wether stack pointer use ram or memeory</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>1487</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>1486</string>
							<key>Timestamp</key>
							<string>775245336.005271</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Gameboy Shared/Emulator/Instructions/Instruction.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>            let leastSignificantByte = readMemory(cpu.stackPointer)
</string>
						<key>leading</key>
						<string>        /// POP rr
        0xE1: InstructionBuilder(cycles: 3) { cpu, readMemory, writeMemory in
</string>
						<key>trailing</key>
						<string>            cpu.stackPointer += 1
            let mostSignificantByte = readMemory(cpu.stackPointer)
            cpu.stackPointer += 1
</string>
					</dict>
					<key>title</key>
					<string>Check wether stack pointer use ram or memeory</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>1582</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>1581</string>
							<key>Timestamp</key>
							<string>775290157.743522</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Gameboy Shared/Emulator/Instructions/Instruction.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>        0xF1: InstructionBuilder(cycles: 3) { cpu, readMemory, writeMemory in
</string>
						<key>leading</key>
						<string>        },
        /// POP rr
</string>
						<key>trailing</key>
						<string>            let leastSignificantByte = readMemory(cpu.stackPointer)
            cpu.stackPointer += 1
            let mostSignificantByte = readMemory(cpu.stackPointer)
</string>
					</dict>
					<key>title</key>
					<string>Check wether stack pointer use ram or memeory</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Check Stack pointer memory</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>315</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>314</string>
					<key>Timestamp</key>
					<string>775245336.0051399</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Gameboy Shared/Emulator/Instructions/Instruction.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            //TODO: - Implement DAA Instruction
</string>
				<key>leading</key>
				<string>        /// DAA
        0x27: InstructionBuilder(cycles: 1) { cpu, readMemory, writeMemory in
</string>
				<key>trailing</key>
				<string>        },
        /// JR cc, e
        0x28: InstructionBuilder { cpu, readMemory, writeMemory in
</string>
			</dict>
			<key>title</key>
			<string>Implement DAA Instruction</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>394</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>393</string>
					<key>Timestamp</key>
					<string>775245336.004902</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Gameboy Shared/Emulator/Instructions/Instruction.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        },
</string>
				<key>leading</key>
				<string>                }
            }
</string>
				<key>trailing</key>
				<string>        /// LD rr 16 bit
        0x31: InstructionBuilder(cycles: 3) { cpu, readMemory, writeMemory in
            let leastSignificantByte: UInt8 = readMemory(cpu.programCounter)
</string>
			</dict>
			<key>title</key>
			<string>Implement 0x31</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>1426</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>1425</string>
					<key>Timestamp</key>
					<string>775245336.004657</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Gameboy Shared/Emulator/Instructions/Instruction.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            cpu.interruptMasterEnabled = true
</string>
				<key>leading</key>
				<string>            cpu.stackPointer += 1
            cpu.programCounter = (UInt16(mostSignificantByte) &lt;&lt; 8) | UInt16(leastSignificantByte)
</string>
				<key>trailing</key>
				<string>        },
        /// JP cc, nn
        0xDA: InstructionBuilder { cpu, readMemory, writeMemory in
</string>
			</dict>
			<key>title</key>
			<string>Check if IE register is equal to IME in document</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>1649</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>1648</string>
					<key>Timestamp</key>
					<string>775290157.743548</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Gameboy Shared/Emulator/Instructions/Instruction.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            cpu.interruptMasterEnabled = true
</string>
				<key>leading</key>
				<string>        /// DI
        0xFB: InstructionBuilder(cycles: 1) { cpu, readMemory, writeMemory in
</string>
				<key>trailing</key>
				<string>        },
        /// CP n
        0xFE: InstructionBuilder(cycles: 2) { cpu, readMemory, writeMemory in
</string>
			</dict>
			<key>title</key>
			<string>Supposed to be scheduled</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
